- content_for :title, "JMP: Website Credits"

markdown:
	# Website Credits

	* Website and registration system by [Denver Gingerich](https://ossguy.com/) and others. jmp-register is licensed under AGPLv3+. You can download the Complete Corresponding Source code [here](https://gitlab.com/ossguy/jmp-register).
	* Backend and other code available from the [Soprani.ca](https://soprani.ca) family of projects.
	* [Blog](https://blog.jmp.chat) powered by [Libervia](https://salut-a-toi.org/).
	* [numbers.svg](../static/numbers.svg) created by [Stephen Paul Weber](https://singpolyma.net) based on work by [LAFS](https://thenounproject.com/term/phone-number/3377914/), CC-BY
	* [share.svg](../static/share.svg) created by [Justin Blake](https://thenounproject.com/term/share/3147017/), CC-BY
	* [devices.svg](../static/devices.svg) created by [Funtastic](https://thenounproject.com/term/devices/127450/), CC-BY
	* [getjid.svg](../static/getjid.svg) and [havejid.svg](../static/havejid.svg) created by [Stephen Paul Weber](https://singpolyma.net) based on [the Jabber logo](https://en.wikipedia.org/wiki/File:Jabber_logo.svg) and icons by [Kevin](https://thenounproject.com/term/plus/569907/) and [Kevin](https://thenounproject.com/term/checkmark/569906/), CC-BY
	* Free Software logo created by [mray](https://free-software-logo.codeberg.page/), CC0

	JMP is a product of MBOA TECHNOLOGY CO-OPERATIVE INC
