- content_for :title, "JMP: eSIM Adapter Management App"
scss:
	img {
		max-width: 100%;
	}
	figure {
		text-align: center;
		float: left;
		width: calc(50% - 2em);
		padding: 0;
		margin: 1em;
	}

markdown:
	# eSIM Adapter Management App

	![Here is the main screen of the app, tap the plus to add a profile](/static/simmanagermain.webp)

	![You will see a dialog like this, enter the info or tap the QR button to scan](/static/simmanageradd.webp)
