- content_for :title, "JMP: eSIM Adapter STK"
scss:
	img {
		max-width: 100%;
	}
	figure {
		text-align: center;
		float: left;
		width: calc(50% - 2em);
		padding: 0;
		margin: 1em;
	}

markdown:
	# eSIM Adapter SIM Toolkit Menu

	![Here is how to access the SIM Toolkit on Android](/static/stklaunch.webp)

	![The menu looks like this, you want to choose "Profiles"](/static/stk.webp)

	![Then select the profile to enable](/static/stkprofiles.webp)
